body{
    padding: 10px 10px;
     min-width: 400px;
}
#gtnbtn{

    background-color: rgb(32, 100, 69);
    color: aliceblue;
    border: none;
    width: 140px;
    border: 2px solid rgb(14, 15, 14);
    height: 45px;
    padding: 8px 1px;
    border-radius: 4px;
    box-shadow: 0px 2px 0px 0px rgb(164, 160, 159);


}
#gtnbtn:active{
    transform: translateY(9px);
    box-shadow: 0px 2px 0px 0px rgb(164, 160, 159);

 
}
#gtnbtn:hover{
    transform: scale(1.1);
   cursor: pointer;
   background-color:  rgb(32, 100, 69);


}
#sbmbtn{

    margin-top: 21px;
    margin-left: 9px;
    background-color: rgb(32, 100, 69);
    color: aliceblue;
    border: 2px solid rgb(14, 15, 14);
    width: 140px;
    height: 45px;
    padding: 8px 1px;
    border-radius: 4px;
    box-shadow: 0px 2px 0px 0px rgb(164, 160, 159);
}

#delete {
    margin-top: 4px;
    margin-left: 9px;
    background-color: rgba(255, 255, 255, 0.8); 
    color: rgb(13, 13, 14);
    border: 2px solid rgb(14, 15, 14); 
    width: 140px;
    height: 45px;
    padding: 8px 1px;
    border-radius: 4px;
    box-shadow: 0px 2px 0px 0px rgba(164, 160, 159, 0.8); 
}

#delete:active {
    transform: translateY(9px);
    box-shadow: 0px 2px 0px 0px rgba(164, 160, 159, 0.8); 
}

#delete:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: rgb(252, 252, 252);
    color: rgb(6, 6, 6); 
}

#txtbox{
  margin-bottom: 0px;
   width: 550px;
   height: 25px;
   padding: 8px;
   border-radius: 3px;
   border-color: rgb(32, 100, 69); ;

}
#sbmbtn:hover{
   transform: scale(1.1);
   cursor: pointer;
   background-color:  rgb(32, 100, 69);
}
#sbmbtn:active{

    
    box-shadow: 0px 2px 0px 0px rgb(164, 160, 159);
}
ul{
    list-style: none;
    padding-left: 0px;
    margin-top: 7px;

}
a{

 color:  rgb(116, 21, 21);
}
li{
    

}     